@*@model MyApp.Models.Category*@
@model Category
@{
    ViewData["Title"] = "Delete";
}

<form asp-controller="Category" asp-action="Delete" method="post">
 
   <div class="Container border" style="margin-top:100px">

  
    <div class="form-group m-10" style="margin-left:50px">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-6">
        <input type="text" disabled class="form-control" id="name" asp-for="Name">
      </div>
    </div>
    <div class="form-group" style="margin-left:50px">
      <label for="exampleInputEmail1" class="form-label mt-4">Order Number</label>
       <div class="col-sm-6">
          <input type="number"  disabled class="form-control" id="onum" asp-for="DisplayOrder">
      </div>
      @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div> 
    <div style="margin-top:20px;margin-left:50px">
          <button type="submit" class="btn btn-primary">Delete</button>
    </div>

     </div>
  <a asp-controller="Category" asp-action="ViewCategory">Back to List</a>
  
</form>


